

.main-head_addTask{
    
    /* background-color: red; */
    text-align: start;
}
label{
    color: #7F8487;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.add-task_task{
    width: 80%;
}
/* input{
    outline: none;
}
textarea{
    outline: none;
    text-decoration: none;
} */
.due-date_input{
    border: none;
    cursor: pointer;
}
tr{
    height: 4rem;
}
.add-tag-select{
    border: none;
    background-color: transparent;
    margin-right: 4%;
    cursor: pointer;
}
.custom-tag-input{
    width: 15%;
    border: none;
    outline: none;
    border-bottom: solid thin #7F8487;
    /* border-width: ; */
    padding-left: 2%;
    padding-bottom: 1%;
}
.add-title-input{
    height: 5vh;
    border-radius: 12px;
    width: 25%;
    border: none;
    outline: none;
    /* border-bottom: solid thin #7F8487; */
    background-color: #EFFFFD;
    padding-left: 2%;
    padding-bottom: 1%;
}
.add-description-area{
    width: 60%;
    height: 16vh;
    border-radius: 12px;
    outline: none;
    /* border-width: thin; */
    background-color: #FFF6EA;
    border: none;
    /* border-color: #7F8487; */
    align-items: center;
    resize: none;
    padding: 0.5rem 0.2rem 0.2rem 1rem;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.add-task-button{
    background: #A459D1;
    height: 2.5rem;
    width:8vw;
    outline: none;
    border: none;
    border-radius: 12px;
    color: aliceblue;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem #8F43EE;

}
.add-task-button:active{
    background-color: #541690;
}
.form-button-section{
    padding-top: 2rem;
}
.cancel-task-button{
    background-color: #F32424;
    height: 2.5rem;
    width:8vw;
    outline: none;
    border: none;
    border-radius: 12px;
    color: aliceblue;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 1rem 1.2rem #F32424;

}
.cancel-task-button:active{
    background-color: #B20600;
}