.main-head_header{
    margin-top: 8rem;
}
.starting-state{
    word-wrap:break-word;
}
.emoji-part{
    text-align: start;
    margin-left: 15%;
    font-size: 5rem;
    margin-bottom: 0;
}
.set-task-mot{
    font-size: 3rem;
    font-family: cursive;
    color: #CD0404;
}
.new-task-button{
    /* background: #A459D1; */
    height: 2.5rem;
    width:10vw;
    outline: none;
    /* border: none; */
    border-radius: 12px;
    color: aliceblue;
    font-weight: 600;
    font-size: medium;
    /* cursor: pointer; */
    box-shadow: 0 1rem 1.5rem #86E5FF;
    background-color: #0081C9;
    border: none;
    /* font-size: 2rem; */
    cursor: pointer;
   
}
.new-task-button:hover{
    background-color: #205295;
}
.new-task-button:active{
    background-color: #0A2647;
}

